body {
  height: 100vh;
  font-size: 1.5rem;
  overflow: hidden;
}

.whole-body {
  display: flex;
  justify-content: space-between;
}

.center-body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 60%;
}

.highscorebtn {
	background: none;
	color: #4B0082;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.highscorebtn:hover {
  cursor: pointer;
}

#section-1 {
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.hidden {
  display: none;
}

a {
  color: #4B0082;
  text-decoration: none;
}

#goBackA {
  color: white;
  text-decoration: none;
}

#section-1 .btn {
  text-align: center;
  font-size: 1.2rem;
  width: 10em;
  height: 2em;
}

.btn {
  background-color: #4B0082;
  color: white;
  border: none;
  border-radius: 5px;
  min-height: 2em;
}

.btn:hover {
  cursor: pointer;
  transition: .1s ease-in-out 0s;
  transform: scale(1.05);
}

h2 {
  margin-bottom: 10px;
}

.answers-btn button {
  font-size: 1rem;
  display: block;
  margin: 5px 0;
  padding: 5px;
}

#correct-wrong {
  font-size: 130%;
  font-style: italic;
  color: grey;
  border-top: 4px solid lightgrey;
}

.section-2-ptag-margin {
  margin-top: 2px;
}

.score-holder {
  display: flex;
}

.highscore-ol {
  padding-left: 0;
}

.highscore-ol li {
  list-style: none;
  padding: 2px 0;
}

.highscore-ol li:nth-child(odd) {
  background-color: rgba(75,0,130, .2);
}

#section-4 {
  width: 60%;
}

#section-4 button {
  margin-right: 10px;
}

.top-right {
  margin: 0px;
}

div .inline {
  float: right;
}